<div class="container">

    <div class="card tarjeta" >

        <div class="row">
             <div class="card-titles col-sm-10" ><h2>Proyectos</h2></div>
             <div class=" btn-edit col-sm-2 d-flex justify-content-end"><a ><i class="fa fa-plus" aria-hidden="true"></i></a></div>
         </div>  

            <div>
               <ul class="items-list">
                 <li>
                   <div class="row separar ">
                       <div class="col-sm-10">
                         <div class="box">
                           <a href="https://github.com/sebix7/organico">
                             <div class="logo-image-container">
                                 <img src="../../../assets/img/organico.jpg"alt="Logo organico">
                                 </div>
                                 </a>
                             <div class="list-info ">
                               <h4>Vida Sana</h4><span>Venta de frutas y verduras organicas</span>
                               <p> Sitio web<span>-Tecnologias utilizadas:JavaServer Pages (JSP),ajax,spring framework,
                                 hibernate,mysql.
                               </span></p>
                             </div>
                       
                   </div>
                 </div>
                   <div class="col-sm-2 d-flex justify-content-end align-items-center">
                    
                     <div class=" btn-edit-chiquito btn-right" ><a ><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                     <div class=" btn-edit-chiquito btn-right " ><a ><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
                     
               </div>
                   </div>
               </li>

               <li>
                   <div class="row separar">
                       <div class="col-sm-10" >
                         <div class="box">
                           <a href="https://github.com/EstherAlifraco/AyudandoEnPandemia">
                             <div class="logo-image-container">
                                 <img src="../../../assets/img/ayudando.jpg"alt="Logo organico">
                                 </div>
                           </a>
                               <div >
                               <h4>Ayudando en pandemia</h4>
                               <span>Conectamos personas que necesitan ayuda con personas que desean ayudar</span>
                               <p> Sitio web<span>-Tecnologías utilizadas:.NET framework,sql server,Entity framework,razor,ajax,API rest.
                               </span></p>
                             </div>
                             
                         
                         </div>
                       </div>
                       <div class="col-sm-2 d-flex justify-content-end align-items-center">
                        
                         <div class=" btn-edit-chiquito btn-right" ><a ><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                         <div class=" btn-edit-chiquito btn-right "><a ><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
                     </div>
                   </div>
               </li>    
             </ul>      
             </div>
         </div>         
               
   </div>   
