<div class="container">

    <div class="card tarjeta" id="FirstCard" >
     <div id="imagenFondo"><img  src="../../../assets/img/tecnologia.jpg" alt="Card image cap"></div>
     <div  id="info" style="padding: 16px;">
        <div class="row " >
        
            <img class="imagenPerfil" src="../../../assets/img/imgPerfil.png" alt="Foto perfil" >
             
              <div  class="btn-edit  col-sm " ><a ><i class="fa fa-camera" aria-hidden="true"></i></a></div>
              <div  class="btn-edit  col-sm d-flex justify-content-sm-end" ><a ><i class="fa fa-pencil" ></i></a></div>
        
          </div>

                  <div id="info-data">
                    <div>
                     <h1>{{persona.nombre}} {{persona.apellido}}</h1>
                     <div id="info-company">{{persona.titulo}}</div>

                     <div id="Info-contact">
                     <span class="card-text">Buenos Aires(Argentina).</span>
                     <span><a href="#">Informacion de contacto</a></span>
                    </div>
                    </div>
                          <div  id="details">
                            <ul id="info-details">
                            <li><a href="https://www.unlam.edu.ar/">
                                <img src="../../../assets/img/LogoUnlam.jpg" alt="logoUnLam">
                                <h2>Universidad Nacional de la Matanza</h2>
                            </a></li>

                            <li><a href="https://ingenieria.unlam.edu.ar/">
                                <img src="../../../assets/img/diit.jpg" alt="logoUnLamIngenieria">
                                <h2>Departamento de Ingenieria UnLam</h2>
                             </a></li>
                            </ul>
                        </div>
                  </div>
                   <div id="info-actions">
                   <button type="button" class="btn botonIngresar btn-primary">Tengo interes</button>
                   <button type="button" class="btn btn-light">Añadir seccion</button>
                   <button type="button" class="btn btn-light">mas</button>
                   </div>
                   
            </div>
       </div>
</div>
