<div class="container">
    <div class="card tarjeta" >
        <div >
                    <div class="row">
                      <div class="card-titles col-sm-10" ><h2>Hard skills & soft skills</h2></div>
                      <div class=" btn-edit col-sm-2 d-flex justify-content-end"><a ><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                  </div> 

                         <div class="row separar " id="habilidades1">
                      <div class="col-sm-10">
                        <div class="progress" style="height:30px ;">
                          <div id="prop1" class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ><span id="nombre1">HTML</span></div>
                        </div>
                      </div>
                        <div class="col-sm-2 ">
                          <div class=" btn-edit-chiquito btn-right " ><a ><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
                          <div class=" btn-edit-chiquito btn-right" ><a ><i class="fa fa-pencil" aria-hidden="true"></i></a></div>

                          
                    </div>
                         </div>

                         <div class="row separar" id="habilidades2">
                            <div class="col-sm-10" >
                              <div class="progress" style="height:30px ;">
                                <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">CSS</div>
                              </div>
                            </div>
                            <div class="col-sm-2 ">
                              <div class=" btn-edit-chiquito btn-right " ><a ><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
                              <div class=" btn-edit-chiquito btn-right" ><a ><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                          </div>
                         </div>

                         <div class="row separar" id="habilidades3">
                          <div class="col-sm-10">
                            <div class="progress" style="height:30px ;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">PHP</div>
                            </div>
                          </div>
                            <div class="col-sm-2">
                              <div class=" btn-edit-chiquito btn-right"><a ><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
                              <div class=" btn-edit-chiquito btn-right"><a ><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                             
                        </div>
                         </div>
                    </div>
        </div>   
        </div>
